<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AlgorithmExercises/src/BinarySearch/BinarySearchTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="BinarySearch.BinarySearchTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AlgorithmExercises"/>
</launchConfiguration>
